body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    transition: width .5s ease, height .5s ease;
}

.avatar:hover{
    width: 160px;
    height: 160px;
}


.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    
}



.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a8dadc;
    color: #1d3557;
    border: 6px solid #457b9d;
    border-radius: 8px;
    box-shadow: 0 0 20px grey;
    flex-flow: row-reverse;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
